h1 {
    background: rgb(189, 34, 167);
    background: linear-gradient(90deg, rgba(189, 34, 167, 1) 0%, rgba(235, 225, 23, 1) 18%, rgba(121, 23, 156, 1) 77%);
    color: aquamarine;
    /*COMENTARIO. se puede hacer la clase en una linea*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    /*background-color: yellow;*/
    color: green;
    text-align: center;
    background: #0c00ff;
    background: radial-gradient(ellipse farthest-corner at center center, #0c00ff 0%, #d269d1 80%);

}

p {
    color: blue;
    font-weight: bold;
    font-style: italic;
    column-count: 4;
    column-gap: 37px;
    column-rule: 7px dotted #241eb6;

}

.important {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

.important2 {
    color: purple;
    font-style: oblique;
    font-weight: bold;
    vertical-align: super;

}

.formulario {
    font-family: 'Passions Conflict', cursive;
    font-size: larger;
    font-weight: bolder;
}

#cajita {
    width: 300px;
    height: 300px;
    text-align: center;
    /*background-color: darkgreen;*/
    background: #ba1559;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 46px 181px 100px 178px;
    border: 10px solid #0a8a95;
    box-shadow: 57px 76px 64px -6px rgba(173, 22, 22, 0.75);