<div class="formlogin">
    <h1>Agregar novedades</h1>

    <form action="/admin/novedades/agregar" method="post">
        <div class="mb-3 row">
            <div class="col-sm-5">
                <input class="form-control" placeholder="Título" type="text" name="titulo">
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-5">
                <textarea class="form-control" placeholder="Subtítulo" type="text" name="subtitulo"></textarea>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-5">
                <textarea class="form-control" placeholder="Cuerpo" type="text" name="cuerpo"></textarea>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>

    {{#if error}}
    <p> {{message}} </p>
    {{/if}}


</div>

</div>